<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="strconn" connectionString="Data Source=72.29.82.76;Initial Catalog=Fashion;User ID=zebouser;Password=Zebotan987;
         Persist Security Info=True" providerName="System.Data.SqlClient"/>
 </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Admin/AdminLogin.aspx" timeout="2880"/>
		</authentication>
		<membership defaultProvider="CustomizedMembershipProvider">
			<providers>
				<clear/>
				<add name="CustomizedMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="strconn" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" passwordFormat="Hashed" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="1" applicationName="Fashion"/>
			</providers>
		</membership>
		<profile enabled="true" defaultProvider="TableProfileProvider">
			<providers>
				<clear/>
				<add name="TableProfileProvider" type="Microsoft.Samples.SqlTableProfileProvider" connectionStringName="strconn" table="Usermst" applicationName="Fashion"/>
			</providers>
			<properties>
				<add name="FirstName" defaultValue="[null]" customProviderData="FirstName;varchar"/>
				<add name="LastName" defaultValue="[null]" customProviderData="LastName;varchar"/>
				<add name="State" defaultValue="[null]" customProviderData="StateID;varchar"/>
				<add name="City" defaultValue="[null]" customProviderData="City;varchar"/>
				<add name="Street" defaultValue="[null]" customProviderData="Street;varchar"/>
				<add name="Zip" defaultValue="[null]" customProviderData="Zip;varchar"/>
				<add name="PhoneNo" defaultValue="[null]" customProviderData="PhoneNo;varchar"/>
				<add name="Fax" defaultValue="[null]" customProviderData="Fax;varchar"/>
				<add name="Email" defaultValue="[null]" customProviderData="Email;varchar"/>
				<add name="IsActive" defaultValue="[null]" customProviderData="IsActive;varchar"/>
				<add name="IsRemoved" defaultValue="[null]" customProviderData="IsRemoved;varchar"/>
				<add name="Created_Date" defaultValue="[null]" customProviderData="created_Date;datetime"/>
				<add name="Modified_Date" defaultValue="[null]" customProviderData="Modified_Date;datetime"/>
				<add name="Created_By" defaultValue="[null]" customProviderData="created_By;varchar"/>
				<add name="Modified_By" defaultValue="[null]" customProviderData="Modified_By;varchar"/>
			</properties>
		</profile>
		<roleManager enabled="true" defaultProvider="CustomizedRoleProvider" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookiePath="/" cookieTimeout="30" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
			<providers>
				<clear/>
				<add name="CustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="strconn" applicationName="Fashion"/>
			</providers>
		</roleManager>
		<customErrors mode="Off"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
